.container{
	        height: 50%;
			width: 100%;
			position: fixed;
			z-index: ;
			overflow-x: hidden;
			
}

.top{
	 top: 0;
	 background-image: url('aboutUsBanner.jpg');
	
	 
}

.bottom{
	    bottom: 0;
		background-color: rgba(243, 197, 166);
		
}

#purposeParagraph{
	              font-size: 30px;
}

#container_addison{
	                background-color: cyan;
                    color: purple;
					border-radius: 10px;
}

#back_button{
	          border-radius: 10px;
			  background-color: orange;
			  border: none;
}

#container_Thomas{
	           background-color: #4032a1;
	           color: white;
	           border-radius: 10px;
}

#container_Sean{
	           background-color: #FCD8B3;
	           color: black;
	           border-radius: 10px;
}
			  


	 



