/* the setting of the back button */
#back_button{
	background-color: green;
			 color: white;
			 padding: 5px 10px;
			 text-align: center;
			 display: inline-block;
			 font-size: 20px;
			 margin: 10px 30px;
			 cursor: pointer;
			 border-radius: 5px;
}
/* setting the background*/
#body{
	   background-image: url('https://AddisonLO.github.io/FYP_html/knowledge.jpg');
	   color: black;
	   background-repeat: no-repeat;
	   
}
	  
